    <!---GetMenuTopHead--->
@using App.Front.Models
@using App.Front.Helpers
@model IEnumerable<MenuNav>

@if (Model != null)
{
    <div id="vnt-header">
        <div class="menutopHeade">
            <div class="container">
                <div class="col-xs-4 col-md-4 col-sm-4 col-lg-4">
                    @Html.Action("GetLogo", "Summary", new { area = "" })
                </div>
                <div class="hidden-xs col-md-4 col-sm-4 col-lg-4">
                    <div class="search">

                        <script language="javascript">
                            function check_search(f) {
                                var key_default = "Từ khóa";
                                var keyword = f.keyword.value;
                                var key_len = f.keyword.value.length;
                                if ((keyword == key_default) || (keyword == '')) {
                                    alert("Vui lòng nhập từ khóa");
                                    f.keyword.focus();
                                    return false;
                                }
                                if (key_len < 2) {
                                    alert("Từ khóa tới thiểu là 2 ký tự");
                                    f.keyword.focus();
                                    return false;
                                }
                                return true;
                            }

                        </script>

                        <form id="formSearch" name="formSearch" method="post" action="http://trisedco.com/vn/tim-kiem.html" onSubmit="return check_search(this);" class="box_search">

                            <input name="keyword" id="keyword" type="text" class="text_search form-control" onfocus="if(this.value=='Từ khóa') this.value='';" onBlur="if(this.value=='') this.value='Từ khóa';" value="" placeholder="tìm kiếm" />

                            <button id="btn-search" name="btn-search" type="submit" class="btn" value="Tìm"></button>
                            <input name="do_search" value="1" type="hidden" />
                        </form>

                    </div>
                </div>
                <div class="col-xs-8 top-cart text-right col-md-4 col-sm-4 col-lg-4">
                    <div class="header-tool search">
                        <div class="language">
                            <ul class="list-inline text-right">
                                <li class='active'><a href="@Url.Action("SetLanguage", "Common", new { langid = 1, returnUrl = this.Request.RawUrl }, null)"><img src="assets/vnt_upload/lang/flag-vn.png" /><p class="hidden-xs hidden-sm">Tiếng Việt</p></a></li>
                                <li><a href="@Url.Action("SetLanguage", "Common", new {langid = 2, returnUrl =this.Request.RawUrl},null)"><img src="assets/vnt_upload/lang/flag-en.png" /><p class="hidden-xs hidden-sm">English</p></a></li>
                                <li><a href="@Url.Action("SetLanguage", "Common", new {langid = 3, returnUrl =this.Request.RawUrl},null)"><img src="assets/vnt_upload/lang/flag-cn.png" /><p class="hidden-xs hidden-sm">中国</p></a></li>

                            </ul>
                        </div>

                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
}
<script type="text/javascript">
    (function ($) {
        $("input[type = 'radio']").click(function () {
            $(this).parents("form").submit(); // post form
        });

    })(jQuery);
</script>
<!---/GetMenuTopHead--->