<!----GetMenuLink ---->

@using App.Domain.Common
@using App.Front.Models
@using App.Utils
@model IEnumerable<MenuNav>

@if (Model != null)
{
    int i = 0;
    <div id="vnt-menutop">
        <div class="wrapper">
            <div class="menutop">
                <ul>
                    @foreach (MenuNav item in Model)
                    {
                        <li class='home' >
                    <a href="@Url.Action("GetContent", "Menu", new {menu = item.SeoUrl, area = ""})" target="_self">@item.MenuName</a></li>
                        i++;
                    }
                </ul>
                <div class="clear"></div>
            </div>
        </div>
    </div>


}

<!----/GetMenuLink ---->