<!-- Modal -->
<div class="modal fade" id="checkPhoneStatus" role="dialog">
    <div class="modal-dialog  modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Kiểm tra tình trạng máy của bạn</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="oderCode">Mã hoá đơn</label>
                        <input type="text" class="form-control" id="oderCode" placeholder="Ví dụ: IP-14012017">
                    </div>
                    <div class="form-group">
                        <label for="NameOrPhome">Họ tên hoặc số điện thoại</label>
                        <input type="text" class="form-control" id="NameOrPhome" placeholder="Tên của tôi / 09/87654321">
                    </div>
                    <div class="text-center text-uppercase">
                         <button id="checkorder" type="button" class="btn btn-lg btn-primary">Kiểm tra</button>
                    </div>
					 <div class="result_check" style="margin-top: 15px;">
                	</div>
                </form>
            </div>
        </div>

    </div>
</div>
