<div id="form-flow" class="flow-form">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <p class="col-sm-offset-3 col-sm-9 text-center">
                    ĐÁNH GIÁ TÌNH TRẠNG SẢN PHẨM
                </p>
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Thương hiệu</label>
                        <div class="col-sm-9">
                            <select class="form-control">
                                <option>Apple</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Dòng máy</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" placeholder="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Số seri</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" placeholder="Số seri">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Họ tên</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" placeholder="Số seri">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Số điện thoại</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" placeholder="Số seri">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Nội dung sửa chữa</label>
                        <div class="col-sm-9">
                            <textarea class="form-control" rows="5"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Hình ảnh</label>
                        <div class="col-sm-9">
                            <input type="file" name="img[]" class="file">
                            <div class="input-group">
                                <input type="text" class="form-control" disabled="" placeholder="Upload hình ảnh đính kèm">
                                <span class="input-group-btn">
                                    <button class="browse btn btn-default" type="button">Chọn hình</button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Hình ảnh</label>
                        <div class="col-sm-9">
                            <input type="file" name="img[]" class="file">
                            <div class="input-group">
                                <input type="text" class="form-control" disabled="" placeholder="Upload hình ảnh đính kèm">
                                <span class="input-group-btn">
                                    <button class="browse btn btn-default" type="button">Chọn hình</button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9 text-center">
                            <button type="submit" class="btn btn-lg btn-primary">Gửi thông tin</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-sm-6">
                <p class="col-sm-offset-3 col-sm-9 text-center">
                    Định giá và thu mua SẢN PHẨM
                </p>
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Thương hiệu</label>
                        <div class="col-sm-9">
                            <select class="form-control">
                                <option>Apple</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Dòng máy</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" placeholder="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Số seri</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" placeholder="Số seri">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Giá bán</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" placeholder="Số seri">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Tình trạng</label>
                        <div class="col-sm-9">
                            <textarea class="form-control" rows="8"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Hình ảnh</label>
                        <div class="col-sm-9">
                            <input type="file" name="img[]" class="file">
                            <div class="input-group">
                                <input type="text" class="form-control" disabled="" placeholder="Upload hình ảnh đính kèm">
                                <span class="input-group-btn">
                                    <button class="browse btn btn-default" type="button">Chọn hình</button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Hình ảnh</label>
                        <div class="col-sm-9">
                            <input type="file" name="img[]" class="file">
                            <div class="input-group">
                                <input type="text" class="form-control" disabled="" placeholder="Upload hình ảnh đính kèm">
                                <span class="input-group-btn">
                                    <button class="browse btn btn-default" type="button">Chọn hình</button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9 text-center">
                            <button type="submit" class="btn btn-lg btn-primary">Gửi thông tin</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
