<div class="flow text-center">
    <h2>Quy trình sữa chữa, định giá</h2>
    <div class="container">
        <div class="step-content">
            <div class="row">
                <div class="col-sm-3 col-xs-6">
                    <div class="step">
                        <img src="/images/step1.png">
                        <div class="hover-line"></div>
                        <div class="step-title">
                            <h3>Bước 1</h3>
                            <p>Khách hàng gởi thông tin</p>
                        </div>
                       
                    </div>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <div class="step">
                        <img src="/images/step2.png">
                         <div class="hover-line"></div>
                        <div class="step-title">
                            <h3>Bước 2</h3>
                            <p>Nhân viên tiếp nhận</p>
                        </div>
                       
                    </div>
                </div>

                <div class="col-sm-3 col-xs-6">
                    <div class="step">
                        <img src="/images/step3.png">
                        <div class="hover-line"></div>
                        <div class="step-title">
                            <h3>Bước 3</h3>
                            <p>Nhân viên gọi lại tư vấn</p>
                        </div>
                   
                    </div>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <div class="step">
                        <img src="/images/step4.png">
                        <div class="hover-line"></div>
                        <div class="step-title">
                            <h3>Bước 4</h3>
                            <p>Khách hàng mang thiết bị tới cửa hàng</p>
                        </div>
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
