@using App.Utils
@model IEnumerable<App.Domain.Entities.Ads.Banner>
@if (Model.IsAny())
{
    <div class="banner-menu">
        @foreach (var item in Model)
        {
            <a href="@item.WebsiteLink">
                <img src="@Url.Content("~/"+item.ImgPath)" alt="@item.Title" />
                <div class="title-banner">
                   @item.Title
                </div>
            </a>
        }
    </div>
}
