@using App.Utils
@model IEnumerable<App.Domain.Entities.Ads.Banner>
@if (Model.IsAny())
{
    <div class="banner-middle">
        @foreach (var item in Model)
        {
            <a href="@item.WebsiteLink" target="@item.Target" rel="nofollow">
                <img src="@Url.Content("~/" + item.ImgPath)" alt="@item.Title" />
            </a>
        }
    </div>
}
