@using App.Utils
@model IEnumerable<App.Domain.Entities.Ads.Banner>
@if (Model.IsAny())
{
    <div id="SiteLeft" style="display: none">
        <div class="ban_scroll" id="ban_left" style="width: 100px">
            <div class="item">
                @foreach (var item in Model)
                {
                    <a href="@item.WebsiteLink" rel="nofollow" target="@item.Target" style="width: 100px; display: none">
                        <img src="@Url.Content("~/" + item.ImgPath)" />
                </a>
                }
            </div>
        </div>
    </div>
}
