@model App.Domain.Entities.GenericControl.GenericControl

<div class="checkbox-list">
    <label class="checkbox-inline">
        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
    </label>
</div>