@model App.Domain.Entities.GlobalSetting.ContactInformation
@if (Model != null)
{
    <div class="infomation">
        <h2>Liên hệ</h2>
        <p class="name">@Model.Title</p>
        <p>- Hotline: @Model.Hotline (Tư vấn, hỏi đáp dịch vụ 24/7) </p>
        <p>(Phục vụ khách hàng tất cả các ngày trong tuần. Thời gian từ T2 – T7: 8h00 – 20h / CN: 8h00 – 17h</p>
    </div>
}
