@model App.Domain.Entities.GlobalSetting.SystemSetting
@if (Model != null)
{
    @*<div class="col-sm-6 col-xs-6">*@
        <div class="hotine pull-right">
            <span>HOTLINE: </span>
            <a href="tel:1800 1401" rel="nofollow">@Model.Hotline</a>
        </div>
    @*</div>*@ 
}
