@using App.Domain.Common
@using App.Domain.Entities.Menu
@using App.Utils
<div class="content-left">
    @Html.Action("GetPostByCategory", "Post", new { virtualCategoryId = ViewBag.VirtualId, page = ViewBag.PageNumber, title = ViewBag.Title, area = "" })
</div>
<div class="content-right">
    @Html.Partial("_SearchBoxRightBar")
    <div class="project-hl margin-15">
        <div class="hl-title">
            <h3>
                <a href="" title="Tin rao nổi bật">Tin rao nổi bật</a>
            </h3>
        </div>
        @Html.Action("GetHotPostHomePage", "Post", new { area = "" })

    </div>
    <div class="news-hightlight">
        <div class="nh-title">
            <h3>
                <a href="javascript:">Tin tức nổi bật</a>
            </h3>
        </div>
        <div class="nh-content">
            @Html.Action("GetMostViewNewsHomePage", "News", new { area = "" })
            <div class="clear"></div>
        </div>
    </div>
</div>
@section styles
{
    <link href="~/css/easydropdown.css" rel="stylesheet" />
}
@section jquerys
{
    <script src="~/js/jquery.easydropdown.min.js"></script>
}
